/* this adds a border around the flex items */
.flex > * {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  min-width: 30%;
  min-height: 300px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media print {
  .flex {
    border: none;
  }
}

@media (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
}
